ion-content{
    --ion-background-color: #ecf0f1;
}

.LoginForm{
    margin-top: 7% !important;
    border-radius: 10px !important;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
  }
