<ion-header>
  <ion-toolbar>
    <ion-title>Borrower Form</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="exit-outline" class="LogoutIcon"></ion-icon>
  </ion-buttons>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Borrower Name</ion-label>
        <ion-input [(ngModel)]="b_name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Book Title</ion-label>
        <ion-input [(ngModel)]="b_title" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Days to-be rented</ion-label>
        <ion-input [(ngModel)]="rented" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label><br>
        <ion-input [(ngModel)]="b_price" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-select name="model" [(ngModel)]="b_status" ngDefaultControl required>
          <ion-select-option value="Reserved">Reserved</ion-select-option>
        </ion-select>
      </ion-item> 

      <ion-row>
        <ion-col>
          <ion-button color="success" expand="block" (click)="onSubmit()">Add</ion-button>
        </ion-col>
      </ion-row>

  </ion-list>
</ion-content>