<ion-header>
  <ion-toolbar>
    <ion-title>Update Borrower</ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateUserFg" (ngSubmit)="onSubmit()">
      
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="b_name" type="text" required readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Book</ion-label>
        <ion-input formControlName="book" type="text" readonly required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="rented" type="number" readonly required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-input formControlName="b_status" type="text" required>
        </ion-input>
      </ion-item>   

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-list>
</ion-content>